@{
  Layout = "_Layout";
}

@model IndependentContracts.Models.Contractor

<h1>Add Weapon for Contractor</h1>
<hr />
<h3>@Model.Alias</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ContractorId)

  @Html.Label("Select Weapon")
  @Html.DropDownList("ArmoryId", null, new {@class = "form-control"})

  <input type="submit" value="Save" class="btn btn-primary" />
}

<p>@Html.ActionLink("Back to Contractor List", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>