@{
  Layout = "_Layout";
}

@using IndependentContracts.Models;
@model IndependentContracts.Models.Contractor;

<h1>Edit Contractor Details</h1>
<hr />
<h3>@Html.DisplayFor(model => @Model.Alias)</h3></h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ContractorId)
  <div class="form-group">
    @Html.LabelFor(model => model.Alias)
    @Html.TextBoxFor(model => model.Alias, new { @class = "form-control", @required = true})
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.RegionOfOperation)
    @Html.TextBoxFor(model => model.RegionOfOperation, new { @class = "form-control", @required = true})
  </div>
  <input type="submit" value="Edit Contractor" class="btn btn-success" />
}

<hr />
<p>@Html.ActionLink("Back to Contractor List", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>